  /* #root {
  max-width: 1280px;
  margin: 0px ;
  padding: 0px;
  text-align: center;
}  */

*{
  padding:0px;
  margin:0px;
  width:100%;
  /* background-color: black; */
  
  /* height:100vh; */
}
body{
  display:flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.918);
  /* background-color: rgba(0, 0, 0, 0.944); */

  font-family: "Poppins", sans-serif;
  
    overflow: hidden;
    overflow-y:scroll;


    



}
/* Hide scrollbar for Webkit browsers */
body::-webkit-scrollbar {
  width: 0; /* Hides scrollbar for vertical scrolling */
  height: 0; /* Hides scrollbar for horizontal scrolling */
}